In [1]:
import pandas as pd

df = pd.read_csv('metrics.csv', parse_dates=['time'])
df

                 time   cpu  memory
0 2021-07-23 14:33:04  30.2  571.83
1 2021-07-23 14:44:05  32.9  524.72
2 2021-07-23 14:55:06  37.1  617.90

In [2]:
df = pd.melt(
    df,
    value_vars=['cpu', 'memory'],
    id_vars=['time'],
    var_name='metric',
)
df

                 time  metric   value
0 2021-07-23 14:33:04     cpu   30.20
1 2021-07-23 14:44:05     cpu   32.90
2 2021-07-23 14:55:06     cpu   37.10
3 2021-07-23 14:33:04  memory  571.83
4 2021-07-23 14:44:05  memory  524.72
5 2021-07-23 14:55:06  memory  617.90