In [1]:
import pandas as pd

df = pd.read_csv('ships.csv')
df

              name        lat        lng
0      Black Pearl  20.664865 -80.709747
1            Cobra  20.664868 -80.709740
2  Flying Dutchman  20.664878 -80.709941
3          Empress        NaN        NaN

In [2]:
import sqlite3


schema = '''
CREATE TABLE ships (
    name TEXT,
    lat FLOAT NOT NULL,
    lng FLOAT NOT NULL
);
'''

db_file = 'ships.db'
conn = sqlite3.connect(db_file)
conn.executescript(schema)

try:
    with conn as cur:
        cur.execute('BEGIN')
        df.to_sql('ships', conn, if_exists='append', index=False)
finally:
    conn.close()

IntegrityError: NOT NULL constraint failed: ships.lat