In [1]:
# Upgrade NumPy to the latest version
# !pip install --upgrade numpy

# # Upgrade Pandera to ensure compatibility
# !pip install --upgrade pandera

In [2]:
# Check for outdated packages and update them
!pip list --outdated

In [3]:
# !pip install --upgrade pybind11

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ships.csv')
df

              name        lat        lng
0      Black Pearl  20.664865 -80.709747
1            Cobra  20.664868 -80.709740
2  Flying Dutchman  20.664878 -80.709941
3          Empress        NaN        NaN

In [3]:
import pandera as pa
import numpy as np

schema = pa.DataFrameSchema({
    'name': pa.Column(pa.String),
    'lat': pa.Column(
        pa.Float,
        nullable=True,
        checks=pa.Check(
            lambda v: v >= -90 and v <= 90,
            element_wise=True,
        ),
    ),
    'lng': pa.Column(
        pa.Float,
        nullable=True,
        checks=pa.Check(
            lambda v: v >= -180 and v <= 180,
            element_wise=True,
        ),
    ),
})

schema.validate(df)

              name        lat        lng
0      Black Pearl  20.664865 -80.709747
1            Cobra  20.664868 -80.709740
2  Flying Dutchman  20.664878 -80.709941
3          Empress        NaN        NaN