In [2]:
import pandas as pd

df = pd.read_csv('points.csv')
df.dtypes

x           int64
y           int64
color      object
visible    object
dtype: object

In [3]:
def asint(val):
    return int(val, base=0)

df['color'] = df['color'].apply(asint)
df.dtypes

x           int64
y           int64
color       int64
visible    object
dtype: object

In [4]:
bools = {
    'yes': True,
    'no': False,
}
df['visible'] = df['visible'].map(bools)
df.dtypes

x          int64
y          int64
color      int64
visible     bool
dtype: object

In [5]:
df

   x  y     color  visible
0  1  1  16711680     True
1  2  2     65280    False
2  3  3       255     True